@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding:0;
}
.background{
   display: flex;   
   align-items: center;
   flex-direction: column;
   height: 100vh; 
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Josefin Sans', sans-serif;
}

.signup__form{
    margin: 30px;
    width:400px;
    height: 560px;
    background-color:rgba(255,255,255,0.1);
    border-radius:5px ;
    backdrop-filter: blur(30px);
    padding: 10px;
    border: 2px solid transparent;
    box-shadow: 10px 10px 10px rgba(45,55,68,0.40);
}

.signup_header{
    text-align: center;
    color: whitesmoke;
    
}

.signup__Form__content{
    text-align: center;
    color: whitesmoke;    
}

.signup__Form>h1{
    padding: 15px;
}

.signup__FormInputs{
  display: block;
  width: 350px;
  height: 40px;
  margin: 10px ;
  border: none;
  font-size: 15px;
  outline: none;
  border-bottom: 1px solid whitesmoke;
  background: transparent;
  color: whitesmoke;
}

.signup__FormButton{
    background-color: rgb(41, 41, 131);
    border: none;
    width: 350px;
    height: 40px;  
    margin-bottom: 30px; 
    color: whitesmoke; 
}

.signup__Formlogintag{
    color: whitesmoke;
}

.signup__Formlogintag>button{
    background: none;
    border: none;
    color: aquamarine;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}


.signup__FormInputs>p{
    color:red;
}