@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.emiPage{
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar{
    width: 100vw;
    height: 33px;
    background-color: crimson;
    position: sticky;
    top: 0;
}

.navbar>h2{
    color: whitesmoke;
    margin-left: 20px;
}

.emiPage_Container{
    display: flex;
}

.emiPage_Form{
    flex: 4;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 10px;
    align-items: center;
}

.searchHistory{
   margin: 10px;
}

.searchHistory>h4{
    margin: 10px;
    margin-left: 30%;
 }

 .search_TableHeader > th{
     padding: 10px;
 }

 .searchButton{
     display: inline;
 }

.emipage_Inputs{
    text-decoration: none;
    border: none;
    padding: 10px;
    border-bottom: 1px solid black ;
    margin: 10px 4px;
    outline: none;
    background-color: whitesmoke;
    width: 90%;
}

.emipage_Inputs::-webkit-outer-spin-button,
.emipage_Inputs::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.emiPage_SubmitButton{
  margin-top: 10px;
  padding: 10px;
}

.emiDetails{
    flex:8;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 10px;
    align-items: center;
}

.search_Table{
    width: 100%;
}
.emiDetail_Heading{
    margin-top: 10px;
}

.emi_Table{
    width: 80%;
    height: 80%;
    margin: 20px;
}

.table_Header{
    background-color: crimson;
    color: whitesmoke;
    
}

.table_Header >th{
    border: 1px solid black;
}

.table-Content>th{
    border: 1px solid black;
}

